/* Default Styles */
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* Color Palate */

/* text */
.text-purple {
  color: #635fc7;
}
.text-light-purple {
  color: #a8a4ff;
}
.text-black {
  color: #000112;
}
.text-light-black {
  color: #20212c;
}
.text-darker-grey {
  color: #2b2c37;
}
.text-dark-grey {
  color: #3e3f4e;
}
.text-grey {
  color: #828fa3;
}
.text-light-grey {
  color: #e4ebfa;
}
.text-dark-white {
  color: #f4f7fd;
}
.text-white {
  color: #ffffff;
}
.text-red {
  color: #ea5555;
}
.text-light-red {
  color: #ff9898;
}

/* background */
.background-purple {
  background-color: #635fc7;
}
.background-light-purple {
  background-color: #a8a4ff;
}
.background-black {
  background-color: #000112;
}
.background-light-black {
  background-color: #20212c;
}
.background-darker-grey {
  background-color: #2b2c37;
}
.background-dark-grey {
  background-color: #3e3f4e;
}
.background-grey {
  background-color: #828fa3;
}
.background-light-grey {
  background-color: #e4ebfa;
}
.background-dark-white {
  background-color: #f4f7fd;
}
.background-white {
  background-color: #ffffff;
}
.background-red {
  background-color: #ea5555;
}
.background-light-red {
  background-color: #ff9898;
}

/* Default Typography */

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
}

h1 {
  font-size: 24px;
  line-height: 30px;
}
h2 {
  font-size: 18px;
  line-height: 23px;
}
h3 {
  font-size: 15px;
  line-height: 19px;
}
h4 {
  font-size: 12px;
  line-height: 15px;
  font-kerning: 2.4px;
  margin: 0;
}
p {
  font-size: 13px;
  line-height: 23px;
  margin: 0;
}
li {
  font-size: 16px;
  line-height: 21px;
}
.text-center {
  text-align: center;
}

/* Default Button Styles */
button {
  font-family: "Plus Jakarta Sans", sans-serif;
  border-radius: 25px;
  border: none;
}

button:hover {
  cursor: pointer;
}

img:hover {
  cursor: pointer;
}
/* Button Sizes */
.menu-button {
  width: 416px;
  height: 40px;
}
.delete-button {
  width: 200px;
  height: 40px;
}
.task-button {
  width: 164px;
  height: 48px;
}

/* Utility Classes */

/* Flex Utility Classes */
.flex {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.justify-start {
  justify-content: flex-start;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}

/* Layout Utility Classes */

/* Width Utility Classes */
.w-300 {
  min-width: 300px;
  max-width: 300px;
}
.w-100 {
  width: 100%;
}
.w-280 {
  width: 280px;
}
/* Height Utlity Classes */
.h-100 {
  height: 100%;
}
.minh-100 {
  min-height: 100vw;
}
.h-97 {
  height: 97px;
}
/* Border Utility Classes */
.border-left {
  border-left: 1px solid #e4ebfa;
}
.border-bottom {
  border-bottom: 1px solid #e4ebfa;
}
.border-radius {
  border-radius: 25px;
}
.border-radius-sm {
  border-radius: 10px;
}
/* Margin Utility Classes */
/* margin-left */
.ml-25 {
  margin-left: 25px;
}
.ml-15 {
  margin-left: 15px;
}
/* margin right */
.mr-25 {
  margin-right: 25px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-15 {
  margin-right: 15px;
}
.mr-5 {
  margin-right: 5px;
}
/* margin top */
.mt-5 {
  margin-top: 20px;
}
/* margin bottom */
.mb-15 {
  margin-bottom: 15px;
}
.mb-5 {
  margin-bottom: 5px;
}
/* Padding Utility Classes */
.p-5 {
  padding: 5px;
}
.py-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}
/* Transform Utility Classes */
.translateY-50 {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* Individual Selectors */
/* Task Card */
.task-card {
  width: 280px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.task-card:hover {
  cursor: pointer;
}
.task-column-container {
  min-height: 100vh;
  width: 100%;
}
.new-column-button {
  border-radius: 5px;
  width: 100%;
  width: 280px;
  margin-left: 15px;
  margin-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 600px;
}
.new-column-button:hover {
  cursor: pointer;
}
.board-button {
  color: #828fa3;
  background-color: #ffffff;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 25px;
  border-top-left-radius: 0;

  width: 276px;
  height: 48px;
}
.board-button:hover {
  background-color: #635fc7;
  color: #ffffff;
}
